#log-div0{
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
#log-div1{
    padding: 50px;
    border: 2px solid rgb(205, 203, 203);
    border-radius: 10px;
    box-shadow:80px;    
}
